:root {
  --main-color: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  --second-color: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../images/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 180px 0;
  text-align: center;
  color: #fff;
}

.container h1 {
  font-size: 70px;
  line-height: 1.5;
}

.container h5 {
  font-size: 20px;
  padding: 20px 0;
}
